.cargo/*
!.cargo/config.toml
.claude/
.catkin_tools
.DS_Store
.idea/
.mypy_cache/
.pytest_cache/
.virtualenvs/
.uv_cache/
.venv/
.yarn/*
!.yarn/patches
*.py[cod]
*.so
*.tsbuildinfo
/python/*/dist/
/python/foxglove-schemas-flatbuffer/foxglove_schemas_flatbuffer/*.bfbs
/python/foxglove-schemas-flatbuffer/foxglove_schemas_flatbuffer/*.py
/python/foxglove-schemas-protobuf/foxglove_schemas_protobuf/*.py
/python/foxglove-schemas-protobuf/foxglove_schemas_protobuf/*.pyi
/python/foxglove-sdk-examples/**/*.mcap
/python/foxglove-sdk-examples/**/uv.lock
/python/foxglove-sdk/python/docs/_build
/python/foxglove-sdk/python/docs/notebook/panels/
/ros/build/
/ros/install/
/ros/log/
/rust/examples/*/target/
/target/
/typescript/*/dist/
/typescript/schemas/src/jsonschema/
node_modules/
