node_modules
.venv
dist
.DS_Store
python/foxglove/notebook/static/

# Layout models
python/foxglove/layouts/models/

# MCAP
*.mcap

# Python
__pycache__
.ipynb_checkpoints
*.ipynb
example*.json
SO100
