[package]
name = "example_data_provider"
edition = "2021"
publish = false

[lints]
workspace = true

[features]
test-harness = [
    "dep:jsonschema",
    "dep:libtest-mimic",
    "dep:mcap",
    "dep:reqwest",
    "dep:serde_json",
    "dep:url",
]

[dependencies]
axum = "0.8"
chrono = { version = "0.4", features = ["serde"] }
foxglove = { path = "../../foxglove", features = ["data_provider", "stream", "derive", "chrono"] }
futures = "0.3"
jsonschema = { version = "0.28", optional = true }
libtest-mimic = { version = "0.8", optional = true }
mcap = { workspace = true, optional = true }
reqwest = { version = "0.12", default-features = false, features = ["blocking", "json", "rustls-tls"], optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", optional = true }
serde_urlencoded = "0.7"
tokio.workspace = true
tracing = { version = "0.1", features = ["log"] }
tracing-subscriber = "0.3"
url = { version = "2", optional = true }

[dev-dependencies]
tokio = { workspace = true, features = ["process", "rt"] }

[[test]]
name = "data_provider_test"
harness = false
required-features = ["test-harness"]
