[package]
name = "example_data_provider"
edition = "2021"
publish = false

[lints]
workspace = true

[dependencies]
axum = "0.8"
chrono.workspace = true
foxglove = { path = "../../foxglove", features = ["data_provider", "stream", "derive", "chrono"] }
futures = "0.3"
serde.workspace = true
serde_urlencoded = "0.7"
tokio.workspace = true
tracing.workspace = true
tracing-subscriber = "0.3"

[dev-dependencies]
data_provider_conformance = { path = "../../data_provider_conformance" }
tokio.workspace = true

[[test]]
name = "data_provider_test"
harness = false
