[package]
name = "example_data_provider"
edition = "2021"
publish = false

[lints]
workspace = true

[dependencies]
axum = "0.8"
chrono = { version = "0.4", features = ["serde"] }
foxglove = { path = "../../foxglove", features = ["data_provider", "stream", "derive", "chrono"] }
futures = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_urlencoded = "0.7"
tokio.workspace = true
tracing = { version = "0.1", features = ["log"] }
tracing-subscriber = "0.3"

[dev-dependencies]
base64 = "0.22"
jsonschema = "0.28"
mcap.workspace = true
reqwest = { version = "0.12", default-features = false, features = ["json", "rustls-tls"] }
serde_json = "1.0"
tokio = { workspace = true, features = ["process"] }
