[package]
name = "data_provider_tests"
edition = "2021"
publish = false

[lints]
workspace = true

[dependencies]
foxglove = { path = "../../../foxglove", features = ["data_provider"] }
jsonschema = "0.28"
libtest-mimic = "0.8"
mcap.workspace = true
reqwest = { version = "0.12", default-features = false, features = ["blocking", "json", "rustls-tls"] }
serde_json = "1.0"
