name: Docs

on:
  push:
    branches: [main]
    tags: ["**"]
  pull_request: {}

jobs:
  build-cpp-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ssciwr/doxygen-install@v1
        with:
          version: "1.13.2"
      - uses: astral-sh/setup-uv@v7
      - run: make docs
        working-directory: cpp
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: cpp
          path: ./cpp/build/docs/html
          if-no-files-found: error

  build-python-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: yarn
      - uses: astral-sh/setup-uv@v7
      - run: make -f Container.mk docs-python
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: python
          path: python/foxglove-sdk/python/docs/_build
          if-no-files-found: error

  deploy-docs-cf-pages:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    needs: [build-cpp-docs, build-python-docs]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts
      - run: test -d artifacts/python
      - run: test -d artifacts/cpp
      - name: Deploy to CF Pages
        uses: cloudflare/pages-action@v1.5.0
        # Only run if not a fork, and not a dependabot PR, since we do not have
        # access to secrets in these environments.
        if: ${{ !github.event.pull_request.head.repo.fork && github.actor != 'dependabot[bot]' }}
        with:
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref || github.ref_name }}
          projectName: foxglove-sdk-api-docs
          directory: artifacts

  deploy-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: [build-cpp-docs, build-python-docs]
    if: startsWith(github.ref, 'refs/tags/sdk/v')
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts
      - run: test -d artifacts/python
      - run: test -d artifacts/cpp
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: artifacts/
          force_orphan: true
