name: ROS

on:
  push:
    branches: [main]
    tags: ["**"]
  pull_request: {}

jobs:
  ros:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ros_distribution:
          - humble
          - iron
          - jazzy
          - kilted
          - rolling
    name: "ros (${{ matrix.ros_distribution }})"
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Run make docker-build
        run: EXTRA_DOCKER_ARGS="--build-arg USER_UID=$(id -u) --build-arg USER_GID=$(id -g)" make docker-build-${{ matrix.ros_distribution }}
        working-directory: ros

      - name: Run make build
        run: |
          docker run --rm -v $(pwd):/sdk foxglove-sdk-ros-${{ matrix.ros_distribution }} \
            make build

      - name: Run make test
        run: |
          docker run --rm -v $(pwd):/sdk foxglove-sdk-ros-${{ matrix.ros_distribution }} \
            make test
