name: Update Layout API

on:
  # TODO: remove pull_request trigger
  pull_request:
    types: [opened, reopened, synchronize, labeled]

jobs:
  generate:
    name: Generate Layout API JSON Schemas
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          repository: foxglove/app
          token: ${{ secrets.FOXGLOVEBOT_GITHUB_TOKEN }}
          ref: sebastian/ert-1099-create-api-spec-using-zod
          lfs: true

      - run: corepack enable

      - uses: actions/setup-node@v6.0.0
        with:
          node-version-file: ".node-version"
          cache: yarn

      - run: yarn install --immutable
        timeout-minutes: 10

      - run: yarn workspace layout-api generate

      - name: Upload JSON Schemas
        uses: actions/upload-artifact@v4
        with:
          name: api-layout-json-schemas
          path: packages/layout-api/schemas

    # TODO: generate Python classes from the JSON Schemas

    # TODO: create a PR with the changes
